@import "tailwindcss";

@layer base {
  body {
    font-family: 'League Spartan', sans-serif;

  }
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-ExtraLight.ttf') format('truetype');
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
font-family: 'League Spartan';
src: url('/fonts/LeagueSpartan-Regular.ttf') format('truetype');
font-weight: 400; /* Regular */
font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-SemiBold.ttf') format('truetype');
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
font-family: 'League Spartan';
src: url('/fonts/LeagueSpartan-Bold.otf') format('truetype');
font-weight: 700; /* Bold */
font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: 800; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-Black.ttf') format('truetype');
  font-weight: 900; /* Bold */
  font-style: normal;
}


/* Definindo o scroll vertical para todos os elementos */
body {
  overflow-y: auto; /* Adiciona scroll vertical */
  scrollbar-width: thin; /* Para Firefox - deixa a barra de rolagem fina */
  scrollbar-color: #888 #f1f1f1; /* Cor do "thumb" e do "track" */
}

:root {
  --cor-tema: #232832;
  --cor-header: #181c23;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--cor-header);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor-tema);
}

strong{
  margin-left: 4px;
  margin-right: 5px;
  font-size: 18px;
}
